<!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0">HNShare</h4>
                <p class="font-weight-light text-muted mb-0">Share Everything</p>
            </div>
            </div>
        </div>

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Điều hướng</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
            <a href="/" class="nav-link text-dark font-italic bg-light">
                        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Trang chủ
                    </a>
            </li>
            <li class="nav-item">
                <a href="/aboutus" class="nav-link text-dark font-italic">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Giới thiệu
                </a>
            </li>

            <li class="nav-item">
                <a href="/aboutus" class="nav-link text-dark font-italic">
                    <i class="fa fa-envelope mr-3 text-primary fa-fw"></i>
                    Liên hệ
                </a>
            </li>
            

            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Chia sẽ</p>

            <li class="nav-item">
                <a href="/category/thu-thuat-internet/2" class="nav-link text-dark font-italic">
                    <i class="fa fa-globe mr-3 text-primary fa-fw"></i>
                    Thủ thuật Internet
                </a>
            </li>
            <li class="nav-item">
                <a href="/category/thu-thuat-may-tinh/3" class="nav-link text-dark font-italic">
                    <i class="fa fa-laptop mr-3 text-primary fa-fw"></i>
                    Thủ thuật máy tính
                </a>
            </li>
            <li class="nav-item">
                <a href="/category/thu-thuat-lap-trinh/4" class="nav-link text-dark font-italic">
                    <i class="fa fa-code mr-3 text-primary fa-fw"></i>
                    Thủ thuật lập trình
                </a>
            </li>
            <li class="nav-item">
                <a href="/category/meo-vat-cuoc-song/5" class="nav-link text-dark font-italic">
                    <i class="fa fa-hand-holding-heart mr-3 text-primary fa-fw"></i>
                    Mẹo vặt
                </a>
            </li>

            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Điều khiển</p>
            
            {% if user.username %}
            <li class="nav-item">
                <a href="javascript:;" class="nav-link text-dark font-italic">
                    <i class="fa fa-user-alt mr-3 text-primary fa-fw"></i>
                    Xin chào, {{user.username}}
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link text-dark font-italic">
                    <i class="fa fa-sign-out-alt mr-3 text-primary fa-fw"></i>
                    Đăng xuất
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/login" class="nav-link text-dark font-italic">
                    <i class="fa fa-sign-in-alt mr-3 text-primary fa-fw"></i>
                    Đăng nhập
                </a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link text-dark font-italic">
                    <i class="fa fa-sign-out-alt mr-3 text-primary fa-fw"></i>
                    Đăng ký
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- End vertical navbar -->