{% extends "pages/base.html" %}
{% load static %}

{% block title %} {{ PostDetails.title }}  {% endblock %}


{% block content %} 
    
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <h4 class="col-md-8"><i class="fa fa-file-alt"></i> {{ PostDetails.title }}</h4>
                <div class="post-meta col-md-4 text-right">
                    <span class="author mr-3"><i class="fa fa-user"></i> {{ PostDetails.username }}</span>
                    <span class="post-date"><i class="fa fa-clock"></i> {{ PostDetails.date_published }}</span>
                </div>
            </div>
        </div>

         <div class="card-body">
            <div class="post-id-{{ PostDetails.post_id }}" id="post-details">
                <div class="post-content">
                    {{ PostDetails.description }}
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header">
            <h4><i class="fa fa-comment-alt"></i> Bình luận</h4>
        </div>

         <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="txtPostId" value="{{ PostDetails.post_id }}" />
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Tên"/>
                </div>
                <div class="form-group">
                    <textarea type="text" name="txtContent" class="form-control" placeholder="Nội dung"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Gửi bình luận" />
                </div>
            </form>
            <div class="comment">
                {% if Count_Comment > 0 %}
                    {% for cmt in Comment %}
                    <div class="comment-item">
                        <div class="row">
                            <div class="comment-auth">{{cmt.visiter_name}}</div>
                            <div class="comment-content">{{cmt.content}}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Không có bình luận nào!</p>
                {% endif %}
                
            </div>
            <hr>
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>

    <section id="related-posts">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h4><i class="fa fa-file-archive-o"></i> Bài viết liên quan</h4>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for row in Posts_Related %}
                    <div class="post-item col-md-3">
                        <div class="post-item-inner">
                            <div class="post-item-head">
                                <a href="{{ path }}/share/details/{{ row.post_id }}"><img src="{% static 'img/' %}{{ row.thumbnail }}"/></a>
                            </div>
                            <div class="post-item-body">
                                <div class="post-item-title">
                                <h4><a href="{{ path }}/share/details/{{ row.post_id }}">{{ row.title }}</a></h4>
                                </div>
                                <p class="post-item-desc">{{ row.description }}</p>
                                <div class="btn-control text-right">
                                <a href="{{ path }}/share/details/{{ row.post_id }}" class="btn-read-more"> Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
